@use '../utils/mixins' as mixins;

.footer {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  min-height: 200px;
  background-image: url(../assets/images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;

  @include mixins.on-tablet {
    height: 480px;
  }

  @include mixins.on-pc {
    height: 555px;
  }
}
