@use 'vars' as *;
@use '../utils/mixins';

.header {
  box-sizing: border-box;
  height: calc(480 / 568 * 100vh);
  background-image: url('/src/assets/images/header_bg_744.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  display: flex;
  flex-direction: column;

  @include mixins.on-tablet {
    height: 100vh;
  }

  &__title {
    margin-inline: auto;
    margin-top: 270px;

    line-height: 100%;
    letter-spacing: -1.5px;
    font-weight: 700;
    font-size: 36px;

    @include mixins.on-tablet {
      font-size: 64px;
      margin-top: 306px;
    }
  }
}

.top-bar {
  padding: $indent-vertical-s $indent-horizontal-s;
  display: flex;

  justify-content: space-between;
  align-items: center;

  @include mixins.on-tablet {
    padding: $indent-vertical-m $indent-horizontal-m;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    width: 130px;
    height: 38px;

    @include mixins.hover-transition(transform, scale(1.2));

    @include mixins.on-tablet {
      width: 187px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    gap: $icon-size-s;

    @include mixins.on-tablet {
      gap: $icon-size-m;
    }
  }
}
