@use 'vars' as *;
@use '../utils/mixins';

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: $icon-size-s;
  width: $icon-size-s;

  @include mixins.hover-transition(transform, scale(1.4) rotateZ(360deg));

  @include mixins.on-tablet {
    height: $icon-size-m;
    width: $icon-size-m;
  }

  &--phone {
    background-image: url('/src/assets/icons/phone_icon.png');
  }

  &--burger {
    @include mixins.hover-transition(transform, scale(1.4) rotateY(-360deg));

    background-image: url('/src/assets/icons/burger_icon.png');

    &:hover {
      background-image: url('/src/assets/icons/burger-icon-hover.png');
    }
  }

  &--close {
    background-image: url('/src/assets/icons/close_icon.png');
  }
}
