.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url('../../assets/icons/phone_icon.png');
}

.icon--burger {
  background-image: url('../../assets/icons/burger_icon.png');
}

.icon--close {
  background-image: url('../../assets/icons/close_icon.png');
}
