@use 'vars' as *;

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: $icon-size-s;
  width: $icon-size-s;

  @media (min-width: 576px) {
    height: $icon-size-m;
    width: $icon-size-m;
  }

  &--phone {
    background-image: url('/src/assets/icons/phone_icon.png');
  }

  &--burger {
    background-image: url('/src/assets/icons/burger_icon.png');
  }

  &--close {
    background-image: url('/src/assets/icons/close_icon.png');
  }
}
