@use 'vars' as *;

.page__menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &:target {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  height: 100vh;

  background-color: $side-menu-bg-color;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 600;

  &__content {
    padding-left: $indent-horizontal-s;
  }

  &__nav {
    margin-block: 24px 40px;
  }

  &__phone-num {
    display: block;
    text-decoration: none;
    color: inherit;

    line-height: 27px;

    margin-bottom: 16px;
  }

  &__book-ride {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    padding-bottom: 8px;
    width: fit-content;

    border-bottom: 1px solid;
  }
}

.nav {
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 2px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
