.page {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 140%;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  background-color: var(--primary-color);
}

body > * {
  padding-inline: 20px;
  box-sizing: border-box;
}
