$primary-color: #1d1d1d;
$secondary-color: #fff;
$side-menu-bg-color: #c2c2c2;
$icon-size-s: 24px;
$icon-size-m: 32px;
$tablet-min-width: 576px;
$pc-min-width: 1024px;
$transition-time: cubic-bezier(0.65, 0.05, 0.35, 1);

// =============Indents=============
$indent-horizontal-s: 20px;
$indent-horizontal-m: 72px;
$indent-horizontal-l: 120px;
$indent-vertical-s: 24px;
$indent-vertical-m: 36px;
