$primary-color: #1d1d1d;
$side-menu-bg-color: #c2c2c2;
$icon-size-s: 24px;
$icon-size-m: 32px;
$tablet-min-width: 576px;
$indent-horizontal-s: 20px;
$indent-horizontal-m: 72px;
$indent-vertical-s: 24px;
$indent-vertical-m: 36px;
